body {
	margin:0;
	padding: 0;
	background-color: #526ead; /*6dcaff;*/
	color: #fff;
	background-image:url('chrome-extension://__MSG_@@extension_id__/images/bg.jpg');
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}
.mt-30 {
	margin-top: 30px;
}
.mt-200 {
	margin-top: 200px;
}
.mt-100 {
	margin-top: 100px;
}
.dashboard-box {
  background: rgba(0, 0, 0, 0.3);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  border-radius: 5px;
}
.settings {
	color: #333;
}

/* ------------- bootstrap override code -----------------------*/

.nav li a {
	color:#fff;
	font-size: 17px;
	padding: 10px 5px 5px 5px;
  border-radius: 0px;
  padding-left: 5px;
  padding-right: 5px;
}
.nav.nav-pills {
	text-align: center;
}
.nav>li>a:focus, .nav>li>a:hover {
	background-color: transparent;
	color: #00ffd8;
}
.nav-pills>li { 
	display: inline-block;
	float: none;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color:#00ffd8;
	background: transparent;
	border-bottom: solid 2px #00ffd8;
}



#stats
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 80%;
	text-align: left;
	border-collapse: collapse;
}
#stats th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe;
	border-top: 4px solid #aabcfe;
	border-bottom: 1px solid #fff;
	color: #039;
}
#stats tbody tr {
  background-attachment:fixed;
}
#stats tr
{
	background: #e8edff; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid transparent;
}
#stats td
{
	padding: 8px;
}
#stats tr:hover td
{
	background: #d0dafd;
	color: #339;
}
#stats img
{
  padding-right: 6px;
}
#stats a:link,
#stats a:visited
{
  text-decoration: none;
  color: black;
}
#stats a:hover
{
  color: #00E;
}
#stats a:active
{
  color: red;
}